@import "vars-mixins";


// YES
// --------------------------------------------------------------------------------------------------------------

div {
    color: $color;
}

section {
    background: $bg-color;
}

// YES
// --------------------------------------------------------------------------------------------------------------

article {
}

// YES
// --------------------------------------------------------------------------------------------------------------

article {

}

// NO
// --------------------------------------------------------------------------------------------------------------

a {
    color: $color;
}
hr {
    margin: 0;
}

// NO
// --------------------------------------------------------------------------------------------------------------

a { color: $color; }
hr { margin: 0; }

// NO
// --------------------------------------------------------------------------------------------------------------

a {}

// NO
// --------------------------------------------------------------------------------------------------------------

a { color: $color; } hr { margin: 0; }

// NO
// --------------------------------------------------------------------------------------------------------------

a{
    color: $color;
}
