@import "_vars-mixins.scss";


// YES
// -------------------------------------------------------

.color {
    color: #abc;
}

// NO
// -------------------------------------------------------

.color {
    color: #FFFFFF;
}

// NO
// -------------------------------------------------------

.element {
    color: yellow;
}

// NO
// -------------------------------------------------------

.element {
    background-color: $color-invalid;
}
