// YES
// -------------------------------------------------------

.color {
    color: #abc;
}

// NO
// -------------------------------------------------------

.color {
    color: #FFFFFF;
}

// NO
// -------------------------------------------------------

.element {
    color: yellow;
}

// NO
// -------------------------------------------------------

.element {
    background-color: #fafaccc;
    color: #00eadg;
}
