@import "vars-mixins";


// YES
// --------------------------------------------------------------------------------------------------------------

/* comment */
div {

}

// YES todo: custom rule
// --------------------------------------------------------------------------------------------------------------

/* comment */

div {

}

// YES todo: custom rule
// --------------------------------------------------------------------------------------------------------------

div {
    // comment
    background: #000; // another comment
}

// NO
// --------------------------------------------------------------------------------------------------------------

section {
    color: #999;
}
/* comment */
div {
    color: #fff;
}

// NO todo: custom rule
// --------------------------------------------------------------------------------------------------------------

div {
    /* comment */
}

// NO todo: custom rule
// --------------------------------------------------------------------------------------------------------------

// comment
div {
    color: #eee;
}

// NO
// --------------------------------------------------------------------------------------------------------------

/*comment*/
div {
    color: #fff;
}

