@import "vars-mixins";


// YES
// --------------------------------------------------------------------------------------------------------------

div {
    background: #000 !important;
}


// NO
// --------------------------------------------------------------------------------------------------------------

section {
    background: #000!important;
}

article {
    background: #fff! important;
}

// NO
// --------------------------------------------------------------------------------------------------------------

b { font-weight: normal; }

section { background-color: #fff; color: #000; }

// NO
// --------------------------------------------------------------------------------------------------------------

b {
    font-weight: normal
    ; color: transparent;
}

// NO
// --------------------------------------------------------------------------------------------------------------

strong {
    font-weight: normal ;
}
