// YES
// -------------------------------------------------------

div {
    background: #000 !important;
}

// YES
// -------------------------------------------------------

div {
    transition:
            background-color .3s ease-out,
            color .3s ease-in;
}

// NO
// -------------------------------------------------------

section {
    background: #000!important;
}

article {
    background: #fff! important;
}

// NO
// -------------------------------------------------------

b { font-weight: normal; }

section { background-color: #fff; color: #000; }

// NO
// -------------------------------------------------------

b {
    font-weight: normal
    ; color: transparent;
}

// NO
// -------------------------------------------------------

strong {
    font-weight: normal ;
}

// NO
// -------------------------------------------------------

strong {
    transition: background-color .3s ease-out,
            color .3s ease-in;
}

// NO
// -------------------------------------------------------

menu {
    font-weight:normal;
}

// NO
// -------------------------------------------------------

hr {
    border :none;
}
