@import "vars-mixins";


// YES
// -------------------------------------------------------

div {
    transform: translate3d(1, 2, 100px);
}

// YES
// -------------------------------------------------------

div {
    background: linear-gradient(to top, #fff, #000);
}

// YES
// -------------------------------------------------------

div {
    background: url("images/image.jpg");
}

// YES
// -------------------------------------------------------

a {
    transform: translate(1, 1) scale(3);
}

// NO
// -------------------------------------------------------

div {
    width: calc(50%+100px);
    height: calc(100px -20%);
    padding: calc(100px- 20%);
}

// NO
// -------------------------------------------------------

article {
    transform: translate(1,
    2);
}

// NO
// -------------------------------------------------------

article {
    transform: translate(1
    , 2);
}

// NO
// -------------------------------------------------------

menu {
    transform: translate3d(1 , 2, 100px);
}

// NO
// -------------------------------------------------------

nav {
    transform: translate3d(1,2, 100px);
}

// NO
// -------------------------------------------------------

footer {
    background: linear-gradient(bottom, #fff, #000);

    section {
        background: linear-gradient(45, #fff, #000);
    }
}

// NO
// -------------------------------------------------------

a {
    background: linear-gradient( to bottom, #fff, #000 );
}

// NO
// -------------------------------------------------------

div {
    background: url(image.jpg);
}

// NO
// -------------------------------------------------------

a {
    transform: translate(1, 1)scale(3);
}
