// YES
// -------------------------------------------------------

div {
    color: #000;
}

// YES
// -------------------------------------------------------

.elem {
    color: #000;

    background: #eaa;
}


/* Element
-------------------------------------------------- */

hr {
    border: none;
}

/* /Element
-------------------------------------------------- */

// YES
// -------------------------------------------------------

.element {
    color: #eee;

    .element {
        background: #000;
    }
}

.element + .element {
    background: #abc;
}

// YES
// -------------------------------------------------------

.default {
    animation-name: anonymousss;
}

// NO
// -------------------------------------------------------

main {
  background: #eee;
}

// NO
// -------------------------------------------------------

section {
background: #eee;
}

// NO
// -------------------------------------------------------

a {
    color: #000;



    background: #fff;
}

// NO
// -------------------------------------------------------

b {
    font-weight: normal;
}



/* Element
-------------------------------------------------- */

code {
    // way too far
}

/* /Element
-------------------------------------------------- */

// NO
// -------------------------------------------------------

.element {
    color: #fff;
}

.element,
.other-element {
    background: #fff;
}

// NO
// -------------------------------------------------------

.animation-1 {
    animation-name: anonymous;
}

// NO
// -------------------------------------------------------

.animation-2 {
    animation: anonymous 3s ease-out;
}

// NO
// -------------------------------------------------------

.animation-3 {
    animation: anonymous 3s ease-out;
}

@keyframes anonymousss {
    100% {
        top: 100%;
    }
}
