@import "vars-mixins";


// YES
// -------------------------------------------------------

div {
    color: $color;
}

// YES
// -------------------------------------------------------

.elem {
    color: $color;

    background: $bg-color;
}


/* Element
-------------------------------------------------- */

hr {
    border: none;
}

/* /Element
-------------------------------------------------- */

// YES
// -------------------------------------------------------

.element {
    color: $color;

    .element {
        background: #000;
    }
}

.element + .element {
    background: $bg-color;
}

// YES
// -------------------------------------------------------

.default {
    animation-name: anonymousss;
}

// NO
// -------------------------------------------------------

main {
  background: $bg-color;
}

// NO
// -------------------------------------------------------

section {
background: $bg-color;
}

// NO
// -------------------------------------------------------

a {
    color: $color;



    background: $bg-color;
}

// NO
// -------------------------------------------------------

b {
    font-weight: normal;
}



/* Element
-------------------------------------------------- */

code {
    // way too far
}

/* /Element
-------------------------------------------------- */

// NO
// -------------------------------------------------------

.element {
    color: $color;
}

.element,
.other-element {
    background: $bg-color;
}

// NO
// -------------------------------------------------------

.animation-1 {
    animation-name: anonymous;
}

// NO
// -------------------------------------------------------

.animation-2 {
    animation: anonymous 3s ease-out;
}

// NO
// -------------------------------------------------------

.animation-3 {
    animation: anonymous 3s ease-out;
}

@keyframes anonymousss {
    100% {
        top: 100%;
    }
}
