@import "vars-mixins";


// YES
// -------------------------------------------------------

div {
    color: $color;
}

// NO
// -------------------------------------------------------

main {
  background: $bg-color;
}

// NO
// -------------------------------------------------------

section {
background: $bg-color;
}
