@import "vars-mixins";


// YES
// -------------------------------------------------------

div {
    color: $color;

    background: $bg-color;
}


/* Element
-------------------------------------------------- */

hr {
    border: none;
}

/* /Element
-------------------------------------------------- */

// NO
// -------------------------------------------------------

a {
    color: $color;



    background: $bg-color;
}

// NO
// -------------------------------------------------------

b {
    font-weight: normal;
}



/* Element
-------------------------------------------------- */

div {
    // way too far
}

/* /Element
-------------------------------------------------- */
