// YES
// -------------------------------------------------------

div {
    padding: .5rem;
}

// YES
// -------------------------------------------------------

div {
    line-height: .55em;
}

// YES
// -------------------------------------------------------

div {
    top: 0;
}

// NO
// -------------------------------------------------------

article {
    margin: 0.5rem;
}

// NO
// -------------------------------------------------------

section {
    margin: .534rem;
}

// NO
// -------------------------------------------------------

section {
    margin: 25.0px;
}

// NO
// -------------------------------------------------------

section {
    left: 0px;
}
