// YES
// -------------------------------------------------------

div {
    a {
        color: #bbb;
    }
}

div {
    a {
        color: #bbb;
    }

    b {
        font-weight: normal;
    }

    // comment line
    code {
        white-space: pre;
    }
}

@media {
    div {
        margin: 0;
    }
}

// YES
// -------------------------------------------------------

menu {
    margin: 0;
    margin-top: 10px;
}

// NO
// -------------------------------------------------------

section {

    a {
        color: #bbb;
    }
}

article {
    .foo {
        color: #333;
    }
    /* comment line */
    .bar {
        background: #000;
    }
    // comment line
    .bar {
        background: #000;
    }
}

@media {

    ul {
        margin: 0;
    }
}

// NO
// -------------------------------------------------------

section {
    color: #eee;
    margin: 0;
    color: #bbb;
}

// NO
// -------------------------------------------------------

nav {
    margin-top: 10px;
    margin: 0;
}

// NO
// -------------------------------------------------------

.element-1 {
    font-size: 10px;
}
.element-2 {
    font-weight: bold;
}

// NO
// -------------------------------------------------------

* {
    padding: 0;
    margin: 0
}
