// YES
// -------------------------------------------------------

.element {
    display: block;
}

.element-2 {
    display: block;
}

.element-name {
    display: block;
}

.element--mod {
    display: block;
}

.element--mod-name {
    display: block;
}

.element__child {
    display: block;
}

.element__child-name {
    display: block;
}

.element__child__grandchild {
    display: block;
}

.element__child__grandchild-name {
    display: block;
}

.element--type-foo {
    display: block;
}

.element--type-foo-bar {
    display: block;
}

.element__child__grandchild-name {
    .element--type-foo-bar {
        .element-2 {
            display: block;
        }
    }
}

// YES
// -------------------------------------------------------

.link + .section {
    margin: 0;
}

// YES
// -------------------------------------------------------

.bold,
.header,
.weighty {
    font-weight: normal;
}

// YES
// -------------------------------------------------------

/* stylelint-disable */

h2 {
    font-weight: normal;
}

h3 {
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

/* stylelint-enable */

// YES
// -------------------------------------------------------

.something {
    &:after {
        content: "";
    };
}

// YES
// -------------------------------------------------------

:root {
    --grid: 1rem;
}

// NO
// -------------------------------------------------------

.article~ .link {
    color: #fff;
}

.a >.b {
    cursor: pointer;
}

// NO
// -------------------------------------------------------

.selector, .other-selector {
    color: #fff;
}

.foo
, .bar {
    padding-left: 0;
}

.element-1
,
.element-2 {
    padding-left: 0;
}

// NO
// -------------------------------------------------------

.selector , .other-selector {
    background: #000;
}

// NO
// -------------------------------------------------------

#body > .main {
    margin: 2rem;
}

// NO
// -------------------------------------------------------

ul > li {
    margin: 0;
}

// NO
// -------------------------------------------------------

* {
    padding: 0;
}

// NO
// -------------------------------------------------------

.my-input::-moz-placeholder {
    color: #000;
}

// NO
// -------------------------------------------------------

.others {
    &::after {
        content: "";
    };
}

// NO
// -------------------------------------------------------

:root > .section {
    position: relative;
}

// NO
// -------------------------------------------------------

.elementCamelcase {
    display: block;
}

.element_child {
    display: block;
}

.element_child_grandchild {
    display: block;
}

.element---mod {
    display: block;
}

.element_--mod {
    display: block;
}
