// YES
// -------------------------------------------------------

div {
    content: "//";
}

// YES
// -------------------------------------------------------

div[class*="media"] {
    background: #000;
}

// NO
// -------------------------------------------------------

div {
    &:after {
        content: '!';
    }
}

// NO
// -------------------------------------------------------

section[id^='section-'] {
    color: #000;
}
